<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GoAtrium.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>949907BC1C0A7DBF00CBF613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949907D01C0A7DBF00CBF613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949907DB1C0A7DBF00CBF613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
